@import "../../variables.scss";

.detail-container {
  display: flex;
  gap: 10px;
  align-items: center;

  .host-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .host {
    color: $color_2;
    font-size: 18px;
    font-weight: 500;
    max-width: 93px;
    word-wrap: break-word;
    text-align: right;
  }
}
