@import "../../variables.scss";

.detail-container {
  display: flex;
  gap: 10px;
  align-items: center;

  .host-image {
    object-fit: cover;
    border-radius: 50%;
  }

  .host {
    color: $color_2;
    font-weight: 500;
    max-width: 93px;
    word-wrap: break-word;
    text-align: right;
  }
}

/****** Media queries ***********/
@media (min-width: $small) {
  .host-image {
    width: 32px;
    height: 32px;
  }
  .host {
    font-size: 12px;
  }
}
@media (min-width: $large) {
  .host-image {
    width: 64px;
    height: 64px;
  }

  .host {
    font-size: 18px;
  }
}
