@import "../../variables.scss";

.star-icon-container {
  gap: 5px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 31px;
}

@media (max-width: $small) {
  .star-icon-container {
    padding-bottom: 0;
    .star-icon {
      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: $small) {
  .star-icon-container {
    padding-bottom: 31px;

    .star-icon {
      width: 36px;
      height: 36px;
    }
  }
}
