@import "../../src/variables.scss";

.logement-page-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;

  .flat-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .title-logement {
    color: $color_2;
    font-size: 36px;
    font-weight: 500;
  }

  .location {
    color: $color_3;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
  }

  .tag-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .collapse-container-flat {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    gap: 76px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

@media (min-width: $small) {
  .logement-page-main-container {
    .title-logement {
      font-size: 18px;
    }
    .location {
      font-size: 14px;
    }
    .collapse-container-flat {
      flex-direction: row;
      gap: 20px;
      margin: 27px;
      padding-bottom: 0px;
    }
  }
}
@media (min-width: $large) {
  .logement-page-main-container {
    .title-logement {
      font-size: 27px;
    }
    .location {
      font-size: 16px;
    }
  }
}
