@import "./variables.scss";

.logement-page-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;

  .flat-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .title-logement {
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;

    @media (min-width: $small) {
      font-size: 18px;
    }

    @media (min-width: $large) {
      font-size: 27px;
    }
  }

  .location {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;

    @media (min-width: $small) {
      font-size: 14px;
    }

    @media (min-width: $large) {
      font-size: 16px;
    }
  }

  .tag-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .collapse-container-flat {
    display: flex;
    padding-bottom: 50px;
    gap: 76px;

    @media (min-width: $small) {
      flex-direction: column;
      gap: 20px;
      margin: 27px;
      padding-bottom: 0px;
    }

    @media (min-width: $large) {
      flex-direction: column;
      gap: 20px;
      padding-bottom: 0px;
      margin: 27px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}
