@import "../../variables.scss";

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  .topbar {
    display: flex;
    background-color: $color_2;
    color: $color_1;
    font-weight: 700;

    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
  }

  &-button {
    img {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  &-icon {
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .collapsed {
    transform: rotate(180deg);
  }

  &-content {
    background-color: $color_4;
    border-radius: 0 0 5px 5px;
    font-size: 12px;
    font-weight: 400;
    padding: 19px 20px;
    transition: height 0.1s ease, opacity 0.1s ease, transform 0.3s ease;
    height: 100%;
    z-index: -1;

    &.hidden {
      opacity: 0;
      height: 0;
      padding: 0;
      transform: translateY(-20px);
    }

    &.open {
      opacity: 1;
      height: 100%;
      padding: 20px;
      transform: translateY(0px);
    }
  }
}

@media (max-width: $small) {
  .topbar {
    font-size: 13px;
    padding: 0 10px;
  }
}

@media (min-width: $small) {
  .topbar {
    padding: 0 10px;
  }
}

@media (min-width: $large) {
  .topbar {
    font-size: 24px;
    padding: 10px;
  }

  .collapse-content {
    font-size: 18px;
    padding: 10px;
  }
}
