@import "../../breakpoints.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px 50px;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 27px;
    padding-left: 0px;
    padding-right: 0px;
  }

  @include mobile-max-width {
    padding-top: 20px;
    padding-bottom: 27px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.nav {
  display: flex;
  gap: 57px;
  font-size: 24px;
  font-weight: 500;

  @include tablet {
    gap: 26px;
  }

  @include mobile-max-width {
    gap: 26px;
  }

  a {
    text-decoration: none;

    @include tablet {
      gap: 12px;
    }

    @include mobile-max-width {
      font-size: 12px;
    }

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }

  .logo-header img {
    @include tablet {
      height: 46px;
    }

    @include mobile-max-width {
      height: 46px;
    }
  }
}
