@import "../../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px 50px;
}

.nav {
  display: flex;
  gap: 57px;
  font-size: 24px;
  font-weight: 500;

  a {
    text-decoration: none;

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: $small) {
  .header {
    padding-top: 20px;
    padding-bottom: 27px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav {
    gap: 26px;
  }

  a {
    gap: 12px;
  }

  .logo-header img {
    height: 46px;
  }
}

@media (min-width: $large) {
}
