.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.nav {
  color:black;
  font-size: 24px;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}
