* {
  font-family: 'Montserrat';
  box-shadow: 0 0 0 1px red inset
}

:root {
  --main-color: #FF6060;
  --main-bg-color: white;
  --filter-bg-color: white;
}

a {
  color:inherit;
}

body {
  padding-top: 40px;
  margin: 0;
}
