@import "../src/variables.scss";

* {
  font-family: "Montserrat";
}

:root {
  --main-color: $color_2;
  --main-bg-color: $color_1;
  --filter-bg-color: $color_1;
}

a {
  color: inherit;
}

body,
#root {
  margin: 0;
}

.main-container, .footer {
  max-width: 1280px;
  width: auto;
  padding: 0 20px;
  margin: 0 auto;
}