* {
  font-family: 'Montserrat';
}

:root {
  --main-color: #FF6060;
  --main-bg-color: white;
  --filter-bg-color: white;
}

a {
  color:inherit;
}

body {
  margin: 0;
}

@media (min-width: 1441px) {
  body {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px; 
  }
}
