@import "../src/variables.scss";

* {
  font-family: "Montserrat";
  box-shadow: 0 0 0 1px red inset;
}

:root {
  --main-color: $color_2;
  --main-bg-color: $color_1;
  --filter-bg-color: $color_1;
}

a {
  color: inherit;
}

body,
#root {
  margin: 0;

  .main-container, .footer {
    max-width: 1280px;
    width: auto;
    padding: 0 3.3%;
    margin: 0 auto;
  }
}
