@import "../../breakpoints.scss"; 

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1240px;
  height: 223px;
  @include tablet {
    width: 80%; // Ajustement de la largeur pour les tablettes
  }

  @include mobile {
    width: 100%; // Ajustement de la largeur pour les mobiles
  }
  margin: auto;

  .overlay {
    position: absolute;
    color: white;
  }

  img {
    object-fit: cover;
    width: 100%; 
    height: 100%; 
    border-radius: 25px;
    filter: brightness(60%);
  }
}
