@import "../../breakpoints.scss"; 

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1240px;
  width: 100%;
  height: 223px;
  margin: auto;

  @include tablet {
    width: 100%;
    height: 111px;
    margin-bottom: 22px;
  }

  @include mobile-max-width {
    width: 100%;
    height: 111px;
    margin-bottom: 22px;
  }

  .overlay {
    position: absolute;
    color: white;
  }

  img {
    object-fit: cover;
    width: 100%; 
    height: 100%; 
    border-radius: 25px;
    filter: brightness(60%);
  }
}
